<!DOCTYPE html>
<html lang="ko">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
{% include 'head.html' %}
    <body>
        
        {% comment %} {% include 'header.html' %} {% endcomment %}

        <hr>
        
        <div class="container">
            <section class="box">
                <aside class="box-sidebar">
                {% include 'sidebar.html' %}
                </aside>
                
                <div class="box_contents">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </section>
        </div>
        {% include 'footer.html' %}
    </body>

    <tail>

    </tail>
</html>